table{
    font-size: 10px;
    width: 100%;
}

.conceptos, .conceptos   th, .conceptos   td {
    border: 1px solid black;
    border-collapse: collapse;
}

.conceptos   th{
    background-color: darkgray;
}

.color {
    background-color: darkgray;
}